/*======================= usables======================== */
:root {
  --colorWhite: #fafafa;
  --colorDarkBlue: #3f3356;
}

/* ============================ Resets and General settings ================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-wht {
  background: var(--colorWhite) !important;
}
img {
  max-width: auto;
  height: 100%;
}
ul li a {
  text-decoration: none;
}
.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: var(--colorDarkBlue);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 41px;
  color: #3f3356;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 370px;
  font-family: Open Sans;
  margin: 0 auto;
}
/* ======================= settings end ===================== */
/* +++++++++++++++++++++++ Banner section ++++++++++++++++++++++++++++++ */
.banner {
  width: 100%;
  height: auto;
  padding: 20px;
  background-image: url(../assets/img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}
.footer img {
  display: inline-block;
  height: 120px;
}
.hd-lft {
  width: 90%;
  margin: 0 auto;
}
.text {
  padding: 20px;
}
.text h1 {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: var(--colorDarkBlue);
  animation-name: enterFromRight;
  animation-duration: 4s;
  animation-delay: 2s;
}
.show-from-bottom {
  animation-name: enterFromBottom;
  animation-duration: 4s;
  animation-delay: 2s;
}
.text p {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--colorDarkBlue);
  animation-name: enterFromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
}
.text .btn-bnr {
  display: inline-block;
  background: #ffa500;
  padding: 10px;
  width: 70% !important;
  text-align: center;
  margin: 20px 0;
}
.hd-rgt {
  width: 90%;
  margin: 0 auto;
}
.hd-rgt .card-header {
  background: #ffc14d;
  border-radius: 8px;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  border-radius: 8px 8px 0 0;
}
.card-header span {
  font-weight: bold;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  color: var(--colorDarkBlue);
}
.form-group label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #979797;
}
.form-group input[type="text"] {
  background: rgba(29, 53, 87, 0.05);
  border-radius: 8px;
  padding: 10px;
}
.form-group input[type="email"] {
  background: rgba(29, 53, 87, 0.05);
  border-radius: 8px;
  padding: 10px;
}
.form-group input::placeholder {
  font-size: 13px;
  line-height: 22px;
  color: rgba(151, 151, 151, 0.5);
}
.card-body .btn-bn-frm {
  display: inline-block;
  background: var(--colorDarkBlue);
  border-radius: 8px;
  color: var(--colorWhite);
  width: 70%;
  margin-top: 10px;
}
#glow-btn {
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* ############################ how it works section ################################ */

.board-wrapper h2 {
  font-weight: 550;
  font-size: 35px;
  line-height: 41px;
  color: var(--colorDarkBlue);
}
.board-wrapper h2:after {
  background: #ffc14d;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100px;
}
.board-wrapper img {
  width: 70px;
  height: 70px;
}
.board-wrapper p {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--colorDarkBlue);
}
/* ############################ Our mission section ################### */
.mission {
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}
.msn-lft {
  height: 50vh;
  background-image: url(../assets/img/task.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.msn-rgt {
  height: 45vh;
  padding: 20px;
}
.mission h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 39px;
  color: var(--colorDarkBlue);
  margin: 20px 0 50px 0;
}
.mission p {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  color: #000000;
  margin: 20px 0;
  text-align: center;
}
/* ################################# Features section #################################### */
.ft-rgt-tp {
  height: 35vh;
  background-image: url(../assets/img/takeout_boxes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ft-lft-btm {
  height: 35vh;
  background-image: url(../assets/img/order_delivered.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ft-rgt-btm {
  height: auto;
  background-image: url(../assets/img/map.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.features {
  margin-top: 150px;
}
.features h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: var(--colorDarkBlue);
  margin: 20px 0;
}
.features p {
  display: block;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  margin: 20px 0;
  padding-top: 40px;
}
/* ====================== signup section ========================== */
.signup-txt {
  margin-bottom: 30px;
  padding: 20px;
}
.signup-txt h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 140.68%;
  text-transform: capitalize;
  color: #3f3356;
}
.signup form {
  padding: 20px 5px;
}
.signup form input[type="text"] {
  height: 60px;
  margin: 10px 0;
}
.signup form input[type="email"] {
  height: 60px;
  margin: 10px 0;
}
.custom-control-input::before {
  /* color: azure; */
  border-color: #ffa500;
  background-color: #ffa500;
}
.btn-signup {
  width: 70%;
  background: #ffa500;
  border-radius: 8px;
  margin-top: 20px;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%  Footer section styling %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.footer {
  width: 100%;
  height: auto;
  background: #3f3356;
  color: #fff;
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 38px;
  padding: 20px;
  margin-top: 20px;
}
.footer h4 {
  font-size: 22px;
  line-height: 140.68%;
  text-transform: uppercase;
}
.footer ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 140.68%;
  text-transform: capitalize;
  color: var(--colorWhite);
}
.footer ul li {
  list-style-type: none;
  margin-top: 20px;
}
.links {
  margin-top: 20px;
}

.social-links {
  margin-top: 20px;
}
.social-links ul li a i {
  font-size: 35px;
}

.input-wrap {
  flex-direction: column !important;
  background: #fafafa;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
}
.input-wrap input {
  width: 100%;
  padding: 10px;
  border: none;
}
.btn-sub {
  font-size: 15px;
  background: #ffa500;
  height: 50px;
  width: 100%;
}
.copy {
  border-top: 0.4px solid #ffffff;
  margin-top: 60px;
}
.copy h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 140.68%;
  padding-top: 10px;
}

/* ==================== responsiveness styling ===================== */

@media screen and (min-width: 575px) {
  body {
    max-width: 1400px;
    padding: 0 20px;
  }
  .head-wrap {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
  }
  .hd-lft {
    width: 65%;
  }
  .hd-rgt {
    width: 35%;
    margin-top: 80px;
  }

  .banner {
    height: 78vh;
  }
  .text {
    padding: 0 40px;
    margin-top: 60px;
  }
  .text p {
    display: block;
    font-size: 24px;
    line-height: 41px;
    width: 100%;
    margin-top: 20px;
  }
  .text h1 {
    display: block;
    font-weight: 550;
    font-size: 48px;
    line-height: 45px;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }
  .text .btn-bnr {
    width: 150px !important;
  }
  /* for signup section */
  .center {
    margin: 0 auto;
  }
  .btn-signup {
    margin: 0 auto;
    margin-left: 150px;
  }
  .inp-radio {
    margin-left: 150px;
  }
  /* for footer */
  .footer img {
    height: 20px;
    width: 100px;
    margin: 10px;
  }
  .input-wrap {
    margin-top: 200px;
    width: 100%;
  }
  .input-wrap input {
    width: 300px !important;
  }
  .btn-sub {
    width: 30% !important;
  }
  .copy h5 {
    padding: 20px;
  }
}
@media screen and (max-width: 960px) {
  body {
    max-width: 900px;
    padding: 0 20px;
  }
  .banner {
    height: auto;
    width: 100%;
  }
  .head-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .hd-lft {
    width: 90%;
  }
  .hd-rgt {
    width: 90%;
  }
}
/* @media screen and (max-width: 760px) {
  body {
    border: 2px solid blue;
    max-width: 700px;
    padding: 0 20px;
  }
  .banner {
    height: auto;
  }
  .head-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .hd-lft {
    width: 90%;
  }
  .hd-rgt {
    width: 90%;
  }
  .input-wrap {
    margin-top: 200px;
    width: 300px;
  }
  .input-wrap input {
    width: 300px !important;
  }
  .btn-sub {
    width: 30% !important;
  }
} */
