body {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #3f3356;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  margin: 10px 0 20px 0;
}
h3,
a {
  font-weight: 600;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
}

.login-wrapper {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 20px;
  text-align: center;
}
.top-text {
  margin: 10px 0;
  padding: 10px;
}
.top-text p {
  margin: 10px 0 20px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  color: #000000;
}
.mid-box {
  display: flex !important;
  flex-direction: column-reverse !important;
}
.mid-form-box {
  box-sizing: border-box;
  margin: 0 auto;
}
.mid-img-box {
  height: 45vh;
  background-image: url(../img/city_girl.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form-box {
  padding: 10px;
}
.form-group {
  text-align: left;
}
.btn-lg-frm {
  display: inline-block;
  background: #ffa500;
  border-radius: 8px;
  width: 70%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 41px;
  color: #3f3356;
}
.links h3 a {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  line-height: 41px;
  color: #000000;
}
.links h3 a:hover {
  cursor: pointer;
}
.form-group input {
  border: none;
  background: #fff !important;
}
.form-group {
  border-bottom: 2px solid #979797;
}
.form-group label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 41px;
  color: #3f3356;
}

.form-group input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 41px;
  color: #806026;
}
.forgot-link h5 a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 41px;
  text-decoration: none;
  color: #cc8500;
}
/* styling for the forgot password page */
.modal {
  border: 1px solid rgba(4, 23, 42, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal-dialog {
  text-align: center;
}
.modal-body {
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.modal-body h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
}
.modal-body p {
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}
.mod-form {
  /* border: 2px solid red; */
  width: 35vw;
  margin: 0 auto;
}
.mod-form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-bottom: none !important;
  width: 100%;
}
.btn-mod {
  background: #3f3356;
  border: 1px solid #3f3356;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}
/* styling for bigger screen */

@media screen and (min-width: 575px) {
  .login-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
  }
  .top-text {
    text-align: left;
    width: 650px;
  }
  .mid-box {
    display: flex !important;
    flex-direction: row !important;
    margin: 10px 0;
  }
  .mid-img-box {
    height: 65vh;
  }
  .form-box {
    padding: 50px;
  }
  .form-group {
    text-align: left;
  }
  .links {
    width: 400px;
    margin: 30px auto;
  }
  .forgot-link {
    text-align: right;
  }
}
