body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; 
}

.text-title{
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}

.profile-content-top{
	margin-top:50px;
}
.profile-content-top .card-footer h3{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #04172A;
}

.profile-content-top .card-footer small{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.profile-content{
	margin-top:130px !important;
	padding:10px 0;
}

.profile-content .profile-title h4{
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #04172A;
}

.profile-links{
	
}
.profile-links li{
list-style-type: none;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
color: #04172A;
margin:15px 0;
padding:10px 0;
}

.profile-links li a i{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #4D49FF;
padding:10px 0 10px 10px;
/*margin:10px 0;*/
}

.profile-details-card .card-details small{
margin-left:20px;
padding-top: 10px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #04172A;
}
.profile-details-card .card-details i{
	color:#04172A;
	font-size:20px;
	padding-top: 10px;
}

.card-bio p{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #000000;
}
/*button stylings*/
.btn-prf-1{
background: #B27A12;
box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
border-radius: 5px;
font-weight: 500;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
padding:10px 30px;
}
.btn-prf-2{
background: #3F3356;
box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
border-radius: 5px;
font-weight: 500;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;	
}
.btn-prf-verify{
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 23px;
text-align: right;
background: #805300;
border-radius: 5px;
color: #FFFFFF;
}
.btn:hover,active{
	color:#fff;
}
.btn-modal{
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
width:80%;
text-align: center;
color: #FFFFFF;
background: #3F3356;
border: 1px solid #3F3356;
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.btn-edit{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
background: #3F3356;
box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
border-radius: 5px;
}
/*button styling ends*/

/*chat page styling starts here*/

.chat-sidebar-list li{
background: #FFFFFF;
border: 1px solid rgba(4, 23, 42, 0.1);
box-sizing: border-box;
border-radius: 5px;
margin:10px 0;
}

/*support page custom styling*/

.support-card h5{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #3F3356;
margin:20px 0;
}

.support-card ul li{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/*text-align: center;*/
color: #04172A;
list-style-type: none;
margin:10px 0;
}
.support-top-card{
	width:350px;
	margin:20px auto;
	padding:10px;
}
.support-top-card input{
	width:300px;
	margin: 0 auto;
	margin-top:25px;
}
/*modal styling*/

.modal-body h3{
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 41px;
color: #000000;
}
.modal-body p{
font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 41px;
color: #000000;
}
/*settings edit profile page styling*/
.users-edit .card{
	
}
.users-edit .tab-pane{
	
}
.user-edit-form{
	/*border:2px solid red;*/
	width:70%;
	margin:0 auto;
	margin-top:80px !important;
	justify-content: center;
	align-items: center;
	padding-left:6rem;
}
.user-edit-form input{
	margin:10px 0;
}
.user-edit-form label{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #04172A;
}
.user-edit-form .controls input::placeholder{
	display:none;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #989393;
}
.media-body h4{
	color:#3F3356;
	/*font-size: 20px;*/
	font-style:normal;
	font-family: "Open Sans";
	font-style:bolder;
	line-height:36px;
}
.media-body h6{
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
color: #04172A;
}
/*styling for  email setting page*/
.edit-email-card{
	background:none;
	margin-top:50px;
}

.edit-email-card .card-body h4{
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #04172A;
}
.radio-group .radio {
	padding:10px 0;
}
.content-wrap{
	width:45rem;
	margin:50px auto;
	padding:20px;
}
.content-wrap-list p{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #04172A;
}
.content-wrap-list label{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #04172A;
}

.content-wrap-list{
	margin:20px 0;
}